@model Certificados.Models.Comerciantes

@{
    Layout = null;
}

<div>
    <h4>Certificado generado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institucion)
        </dd>

    </dl>
</div>